{
    "plugins": [
      "@babel/plugin-transform-typescript",
      [
        "babel-plugin-styled-components",
        {
          "ssr": true,
          "fileName": true,
          "displayName": true,
          "meaninglessFileNames": ["index", "styles", "src"],
          "minify": true,
          "transpileTemplateLiterals": true,
          "pure": true
        }
      ]
    ]
  }
  